.Information {
  background: white;
  color: black;
  float: left;
  width: 100%;
  height: 100%;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding-right: 50px;
}
.Information-wrapper {
	li {
		list-style-type: none;
		margin-bottom: 20px;

		span:nth-child(1) {
			font-weight: bolder;
		}
	}
}
