.User {
	padding: 40px;
	color: white;
	.User-is {
		padding: 10px;
		&.facebook {
			background: #49639f;
		}
		&.twitter {
			background: #55acee;
		}
		&.google {
			background: #df4a32;
		}
		border-radius: 10px;
	}
	svg {
		border-radius: 5px;
		margin-right: 10px;
		font-size: 20px;
		width: 30px;
		height: 30px;
		text-align: center;
		fill: white;
	}
}

.User-sign-out {
	float: right;
	font-size: .8em;
	color: crimson;
	margin-top: 20px;
}
