.Page {
  background: #c8c8c9;
  color: white;
  font-family: 'Open Sans';
  float: left;
	width: 100%;
	height: 100%;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  min-height: 100vh;
}

.App-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
	display: table;
	width: 100%;
  padding-top: $NAV_HEIGHT;
  > *:first-child {
    float: left;
    width: 100%;
    height: 100%;
  }
}

.--side-open .App-wrap {
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}

.Blocker {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 999;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.--side-open .Blocker {
  pointer-events: auto;
  opacity: 1;
}
