.Navigation {
  position: fixed;
  height: $NAV_HEIGHT;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  @include display(flex);
  @include align-items(center);
  z-index: 99999999;
  background: #c8c8c9;
  > * {
    @include flex(1);
    @include display(inline-flex);
    color: black;
  }
  svg {
    height: 100%;
    width: auto;
  }
}

.Navigation-menu {
  @include justify-content(flex-start);
}

.Navigation-logo {
  @include justify-content(center);
}

.Navigation-login {
  @include justify-content(flex-end);
}

.Navigation-menu,
.Navigation-login {
  @include btn;
}

.Navigation-link {
  color: black !important;
}
