.Navigation {
  position: fixed;
  height: $NAV_HEIGHT;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  @include display(flex);
  @include align-items(center);
  z-index: 99999999;
  background: #c8c8c9;
  > * {
    @include flex(1);
    @include display(inline-flex);
    color: black;
  }
  svg {
    height: 100%;
    width: auto;
  }
}

.Navigation .Navigation-menu {
  display: none;
}

.Navigation-logo {
  @include justify-content(center);
}

.Navigation-link {
  color: black !important;
}

.Navigation-link.info { display: none; }
.Navigation-link.information { display: block; }

@media (max-width: 800px) {
  .Navigation .Navigation-menu {
    @include display(flex);
    @include justify-content(flex-start);
    background-image: url('../images/menu-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    @include btn;
  }

  .Navigation-link.info { display: block; }
  .Navigation-link.information { display: none; }
}
