.Login {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: left;
	color: white;
	padding: 40px;
}

.Login-option {
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 500;
	color: white;
	float: left;
	cursor: pointer;
	padding: 10px;
	line-height: 20px;
	svg {
		float: left;
		height: 100%;
		fill: white;
		@include display(flex);
		@include align-items(center);
		margin-right: 20px;
		&.ArrowRight {
			fill: black;
			float: right;
			margin-right: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.facebook {
		background: #49639f;
	}
	&.twitter {
		background: #55acee;
	}
	&.google {
		background: #df4a32;
	}
}
