.SiteMap {
	width: 100%;
	font-size: 1.2rem;
	ul {
		list-style: none;
		padding: 0 40px;
		margin-top: 40px;
		li {
			border-bottom: 1px solid $borderColor;
			padding: 5px;
			cursor: pointer;
			&:hover {
				background: #666;
				color: white;
			}
			&:first-child {
				border-top: 1px solid $borderColor;
			}
		}
		a {
			color: inherit;
		}
	}
}
